  body
            {
                font-family: Verdana, Arial, sans-serif;
                line-height: 1.2em;
                width: 500px ; 
                height:500px  ; 
                background-color: #FBEDBB;
                margin: 2 px 2 px 2 px 2 px;
            }
			
			
			#mainContent  {
    position:absolute;
    z-index:2;
   /*width: 100px;
   height: 100px;
   margin: 0 0 0 0;*/
   padding: 0;
   border: 1px solid rgba(0,0,0,0.5);
   border-radius: 10px 10px 2px 2px;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
            
            table
            {
          
                border: 1px solid #DDD;
                width: 100%;  
            }
            
            td
            {
                font-size: 8pt ;
                
                margin: 0 px, 0 px, 0 px, 0 px;
                display: table-cell;
                width: 50%;
                padding: 0 px, 0 px, 0 px, 0px;
            }
            
           
          
        #result
        {
		            width: 400px;
            height: 400px;

            margin-top: 20px;
            width: 400px;
            vertical-align: middle;
            text-align: left;
	    

        }